.dropdown-menu {
  min-width: 140px;
}

.dropdown-menu li a {
  padding: 5px 15px;
  font-weight: 300;
}
 
/*@media (max-width: 767px) {
  .dropdown-menu.multi-column {
    min-width: 240px !important;
    overflow-x: hidden;
  }
}*/

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.back-to-top {
cursor: pointer;
position: fixed;
bottom: 10;
right: 20px;
display:none;
}

.show-navbar {
  cursor: pointer;
  position: fixed;
  bottom: 60px;
  right: 20px;
  display: none;
}
 
.elements:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}